/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

html {
    background-color: yellow;
}

body {
    background-color: purple;
}

.wrap-all {
    max-width: 800px;
    margin: 0 auto;
    background-color: aliceblue;
}

.site-logo {
    display: none;
}

.region-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.region-header a {
  text-decoration: none;
}

/*.site-logo {
  display: none;
}*/

.site-logo-text a {
  display: flex;
  align-items: center;
  font-size: 2em;
}

.my-navbar {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
  font-size: 1.15em;
}

.my-navbar > li {
  margin: 5px;
  padding: 5px;
}

.region-header-col-3 {
  display: none;
}

.region-flash img {
  width: 100%;
}

.footer-column {
    width: 33%;
    float: left;
}

.inner-wrap-header {
    height: 48px;
    margin-bottom: 12px;
    width: 33%;
}
